/* Color theme */

:root {
  --tan: #f9f5d7;
  --purple: #b16286;
  --black: #282828;
  --green: #689d6a;
  --grey: #a89984;
  --light-grey: #bdae93;
  --blue: #83a598;
  --dark-blue: #076678;
  --orange: #d65d0e;
  --bright2: #98971a;
}

/* Deal with fixed header when scrolling to anchor links */
:target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

/* set color for overflow when dragging */
html {
  background-color: var(--orange);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding-top: 80px;
  display: none;
  font-family: "Questrial", sans-serif;
}

body.hidden {
  display: none;
}

main {
  font-size: 20px;

  /* Set parameters for background diagonal stripe */
  background: linear-gradient(
    135deg,
    var(--tan) 23%,
    var(--grey) 23%,
    var(--grey) 38%,
    var(--green) 38%,
    var(--green) 40.5%,
    var(--tan) 40.5%
  );
  background-size: 100vw;
  background-repeat: no-repeat;
}

/* "Jon Myers" text */
header {
  position: fixed;
  top: 0;
  left: 1%;
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  color: var(--tan);
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

h1 {
  font-size: 22px;
  font-weight: bolder;
  color: var(--black);
  margin: 0 2.5% 2% 2.5%;
}

p {
  font-size: 20px;
  color: var(--black);
  width: 90%;
  text-align: justify;
  margin: 20px 5% 20px 5%;
}

li {
  margin: 0 5%;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

a:hover {
  color: var(--orange);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(
    45deg,
    var(--black) 20%,
    var(--orange) 20%,
    var(--orange) 30%,
    var(--orange) 30%,
    var(--orange) 35%,
    var(--black) 35%
  );
  transition: 0.2s ease-in-out;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--tan);
  padding: 5px 5px 5px 5px;
  transition: color 0.5s ease-in-out;
}

.nav-link:hover {
  color: var(--blue);
}

.main-section {
  display: block;
  width: 100vw;
  padding: 30px 0px 30px 0px;
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 30px;
  justify-items: center;
  margin: 0 auto;
  width: 90%;
}

.card {
  display: flex;
  background-color: var(--tan);
  width: 100%;
  height: 220px;
  box-shadow: 0 4px 10px 0 var(--black), 0 6px 10px 0 var(--black);
  padding: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
  transition: 0.4s linear;
}

.card span {
  padding-bottom: 10px;
}
.card:hover {
  background-color: var(--orange);
  color: var(--tan);
}

/** Hide card images on hover */
.card:hover .card-opp {
  display: none;
}

.card:hover span {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 3px;
  color: var(--black);
}

/** Hover content for cards */
[id*="kanban"]:hover:after {
  content: "Full-stack MERN app for time management with drag-n-drop interface. Typescript, React, Node, Express, MongoDB.";
}
[id*="ramen"]:hover:after {
  content: "Full-stack Django app with login/authentication, image upload, and image processing to create themes for each item's page. Hosted on an Apache server running on a Raspberry Pi 3.";
}
[id*="calc"]:hover:after {
  content: "React, Javascript, HTML, CSS. Stylized browser-based calculator app";
}
[id*="session"]:hover:after {
  content: "React, Javascript, HTML, CSS. Utilizes React 'hooks.' Stylized browser-based session/break timer app";
}
[id*="choropleth"]:hover:after {
  content: "Javascript, D3, HTML, CSS. Interactive map of the US showing mean education level of regional populations. Pulls JSON population data and GEOJSON map data from public APIs.";
}
[id*="heatmap"]:hover:after {
  content: "Javascript, D3, HTML, CSS. Interactive heatmap of global land-surface temperature trends from years 1753 - 2015. Pulls JSON data from a public API.";
}
[id*="treemap"]:hover:after {
  content: "Javascript, D3, HTML, CSS. Interactive treemap showing Kickstarter funding for various products, grouped by product category. Pulls JSON data from a public API.";
}
[id*="metadata"]:hover:after {
  content: "Node.js, Express, Javascript, HTML, CSS. File Upload and metadata parsing microservice. Returns JSON data from query.";
}
[id*="exercise"]:hover:after {
  content: "Node.js, Express, MongoDB, Javascript, HTML, CSS. Personal exercise log/database with front end. Can return results from specific date ranges. Returns JSON data from query.";
}
[id*="urlshort"]:hover:after {
  content: "Node.js, Express, MongoDB, Javascript, HTML, CSS. Url shortener microservice. Returns JSON data from query based on order in which the link was submitted.";
}
[id*="pythonmisc"]:hover:after {
  content: "Python. Various projects and scripts for file processing, web scraping, and other things that need doing.";
}
[id*="kseries"]:hover:after {
  content: "All implements, knife blade, Cerakote coating development.";
}
[id*="pseries"]:hover:after {
  content: "All implements, knife blade.";
}
[id*="t4"]:hover:after {
  content: "All implements, scales, locks, injection-molded filler, hardware, assembly performance and testing, Cerakote coating development.";
}
[id*="t2"]:hover:after {
  content: "All implements, scales, locks, injection-molded filler, hardware, assembly performance and testing.";
}
[id*="chargeg10"]:hover:after {
  content: "Machined G10 scales, hardware, assembly performance & testing.";
}
[id*="cch"]:hover:after {
  content: "Component and weldment design & manufacturing support.";
}
[id*="ccm"]:hover:after {
  content: "Crew served weapon mount re-design, gear oil reservoir design, design and support of numerous other outfitting and structural components.";
}
[id*="smallcoil"]:hover:after {
  content: "Stress analysis of existing lifting fixture. After FEA simulation and calcs, I determined that a retrofit of reinforcing plates at major stress locations would allow for safe operation at slightly reduced capacity.";
}
[id*="largecoil"]:hover:after {
  content: "Complete design from concept through production and operator training. Fixture for overhead lifting of 12k lbs with 5:1 factor of safety. FEA and hand calculations resulting in PE signoff.";
}
/** 
Actually picks out mobile devices by getting touch input type. 
Mobile screens are huge now so resolution doesn't really seem to be a good indicator.
*/
@media (pointer: none), (pointer: coarse) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .card {
    height: 40vh;
    font-size: 3vh;
  }
}

.fa-marginr {
  margin-right: 5px;
}

#fa-sep {
  color: var(--green);
}

.inline-link {
  color: var(--dark-blue);
}

.inline-link:hover {
  text-decoration: underline;
}

.footer {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 5vh;
  background: linear-gradient(
    180deg,
    var(--green) 0%,
    var(--green) 50%,
    var(--black) 50%,
    var(--black) 100%
  );
}
.footer-text {
  color: var(--tan);
  padding: 0 10px;
}
