/* Original theme colors */ 
/**
:root {
  --yellow: #98971a;
  --purple: #b16286;
  --black: #282828;
  --green: #689d6a;
  --tan: #f9f5d7;
  --grey: #a89984;
  --light-grey: #bdae93;
  --orange: #d65d0e;
  --blue: #83a598;
}
*/

/* Alternate muted color theme */

:root {
  --yellow: #f9f5d7;
  --purple: #689d6a;
  --black: #282828;
  --green:#a89984;
  --tan: #f9f5d7;
  --grey: #a89984;
  --light-grey: #bdae93;
  --orange: #a89984;
  --blue: #83a598;
  --bright: #d65d0e;
}

/* Deal with fixed header when scrolling to anchor links */
:target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

/* set color for overflow when dragging */
html{
  background-color: var(--orange);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding-top: 80px;
  display: none;
}

body.hidden {
  display: none;
}

main {
  font-family: "Questrial", sans-serif;
  font-size: 20px;

  /* Set parameters for background diagonal stripe */
  background: linear-gradient(
    135deg,
    var(--tan) 23%,
    var(--green) 23%,
    var(--green) 40.5%,
    var(--tan) 40.5%
  );
  background-size: 100vw;
  background-repeat: no-repeat;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(
    45deg,
    var(--black) 20%,
    var(--orange) 20%,
    var(--orange) 35%,
    var(--black) 35%
  );
  transition: 0.2s ease-in-out;
}

.nav-link {
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  color: var(--yellow);
  padding: 5px 5px 5px 5px;
  transition: color .5s ease-in-out;
}

.nav-link:hover {
  color: var(--bright);
}

/* "Jon Myers" text */
header {
  position: fixed;
  top: 0;
  left: 1%;
  font-size: 80px;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
  text-align: left;
  color: var(--tan);
  transition: .5s ease-in-out;
  pointer-events: none;
}

h1 {
  font-family: "Questrial", sans-serif;
  font-size: 22px;
  color: var(--purple);
  margin: 0 2.5% 2% 2.5%;
  transition: color 1s ease-in-out;
}

h1:hover {
  color: var(--black);
}

p {
  font-size: 20px;
  color: var(--black);
  width: 90%;
  text-align: justify;
  margin: 0 5% 10px 5%;
}

li {
  margin: 0 5%;
}

a {
  text-decoration: none;
  /* was --green */
  color: var(--black);
}

a:hover {
  color: var(--purple);
}

.main-section {
  display: block;
  width: 100vw;
  padding: 30px 0px 30px 0px;
  margin: 0px 0px 0px 0px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 30px;
  margin: 50px auto;
  width: 90%;
}

@media (pointer:none), (pointer:coarse) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 95%;
  }

  .card {
    height: 95%;
  }
}

.card {
  display: flex;
  background-color: var(--tan);
  width: 100%;
  box-shadow: 1px 0 5px var(--black), 0 1px 5px var(--black), -1px 0 5px var(--black),
    0 -1px 5px var(--black);
  padding: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: var(--black);
  transition: .2s linear;
}

.card:hover {
  color: var(--orange);
  background-color: var(--light-grey);
}

/* Style all font awesome icons */
.fa {
  font-size: 30px;
}

#fa-sep {
  color: var(--purple);
}

.codewars{
  padding: 0;
  width: 90%;
  height: 90%;
}